
            :root {
                --margin-line: #941c5a;
                --lines: #1d97b8;
}

		    body {
                margin: 0;
                padding: 0;
                background: #87ceeb;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }
            
            .envelope {
                position:absolute;
                top: 30vh;
                left: 25vw;
                width: 50vw;
                height: 60vh;
                background: #f8f8f8;
                border: 0.1vw solid grey;
                animation: fadeIn 1s ease-in-out;
            }

            .zn1 {   
                position: absolute;  
                font-family: 'ZCOOL KuaiLe', cursive;  
                font-size: 2vw;  
                color: black; 
            }

            .eng1 {
                position: relative;
                font-family: "Handlee", sans-serif;
                font-size: 1.5vw;
                color: black;
                font-weight: bold;
                border-right: 2px solid black;
                animation: blink-caret 0.75s step-end infinite;
                z-index: 1000;
                white-space: pre-line;

            }

            @keyframes blink-caret{
                50% {
                    border-color: transparent;
                }
            }

            .flap {
                position: relative;
                width: 0;
                height: 0;
                border-left: 25vw solid transparent;
                border-right: 25vw solid transparent;
                border-top: 35vh solid #ffffff;
                z-index: 2;
            }
            
            .flap-bottom {
                position: absolute;
                bottom: 0;
                width: 0;
                height: 0;
                border-left: 25vw solid transparent;
                border-right: 25vw solid transparent;
                border-bottom: 45vh solid #dceeff;
               
            }

            .envelope-wrapper {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 47.5%;
                width: 3vw;
                height: 3vw;
                cursor: pointer;
                background: red;
                z-index: 100;

            }

            @keyframes fadeIn {
                from { 
	                opacity: 0;
	                transform: scale(0.3);
	            }
	            to { 
                opacity: 1;
	            transform: scale(1);
                }
	        }

            .click-icon {  
                position: absolute;  
                width: 3vw;  
                height: 3vw;  
                top: 50%;  
                left: 47%;  
                color: #fff;  
                cursor: pointer;  
                animation: pulse 1.8s infinite ease-in-out;  
                z-index: 101;  
            }   
          
            .icon-wrapper {
                opacity: 0;
                position: absolute;
                width: 3vw;
                height: 3vw;
                top: 50%;
                left: 47%;
                cursor: pointer;
                background: white;
                z-index: 100;
            }

            @keyframes float {  
                0% {  
                  transform: translateX(-20vw);  
                } 
                100% {  
                  transform: translateX(100vw);  
               }  
            }  

            @keyframes pulse {  
                0% { transform: scale(1); opacity: 1; }  
                50% { transform: scale(1.1); opacity: 0.8; }  
                100% { transform: scale(1); opacity: 1; }  
            }  

            .paper {
                display: none;
                position: absolute;
                width: 100vw;
                height: 100vh;
                transition: opacity 1s ease;
                z-index: 1000;
                animation: open-paper 2s ease;
                animation-fill-mode: forwards;
            }

            @keyframes open-paper {
                0% {
                    background: rgba(0,0,0,0.5);
                }
                100% {
                     background: rgba(0,0,0,1);
                }
            }

            .paper-content {
                position: relative;
                top: 12.5vh;
                background: #fffde8;
                font-size: 2vw;
                left: 25vw;
                width: 50vw;
                height: 75vh;
                border-radius: 0.5vw;
                animation: openPaper 2s ease;
                white-space: pre-line;
            }    

            .arrow {
                cursor: pointer;
                font-size: 2rem;
                position: absolute;
                bottom: -10vh;
                right: 5vw;
            }

            .arrow.prev {
                left: 5vw;
                right: auto;
            }

            .dot {
                height: 1vw;
                width: 1vw;   
                margin: 0 0.5vw;
                display: inline-block;
                position: absolute;
                top: 60%; 
                left: 0%;
                border-radius: 50%; 
                background-color: #bbb;
            }

            .dot.active {
                background-color: #333;

            }

            .pagination {
                text-align: center;
                margin-top: 10px;

            }

            button {
                cursor: pointer;
                height: 5vh;
                width: 5vw;
                border-radius: 1vw;
                background-color:#32a6a8;
                text-align: center;
                border: none;
                font-family: "Handlee";
                font-size: 1em;
                
            }

            button:hover {
                transform: scale(1.3);
                transition: 0.3s;
            }

            .heart-wrapper {
                top: 75vh;
                left: 85vw;
                width: 8vw;
                height: 15.6vh;
                position: absolute;
            }
            
            @keyframes openPaper {
                0% {
                transform: rotateY(0deg);
                }
                100% {
                transform: rotateY(-180deg); /* Opens to the left */
                }
            }

            /* 默认隐藏 */
            .heart {
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease;
                position: absolute;
                top: 6.6vh;
                left: 1.8301vw;
                width: 50px;
                height: 50px;
                background: #f72323;
                transform: rotate(-45deg);
                z-index: 100;
                }

            .heart::before,
            .heart::after {
                content: "";
                width: 50px;
                height: 50px;
                background: #f72323;
                position: absolute;
                border-radius: 50%;
                box-shadow: 0 0 1.0981vw rgba(255, 0, 0, 0.2);
            }

            .heart::before {
                top: -25px;
                left: 0px;
                }

            .heart::after {
                top: 0;
                left: 25px;
                }

            /* 鼠标碰到 wrapper 才显现 */
            .heart-wrapper:hover .heart {
                opacity: 1;
                pointer-events: auto;
                box-shadow: 0 0 1.0981vw rgba(255, 0, 0, 0.7);
         }


             @keyframes heartjump {
                0% {transform: scale(1) rotate(-45deg); }
                30% {transform: scale(1.3) rotate(-45deg); }
	            60% {transform: scale(0.9) rotate(-45deg); }
                100% {transform: scale(1) rotate(-45deg); }
            }
  
            .jump {
                animation: heartjump 0.5s ease; 
            }
